.content {
  zoom: 1; }
  .content::before, .content::after {
    content: '';
    display: table; }
  .content::after {
    clear: both; }

.content {
  position: relative; }

.container-4x3 {
  height: 0;
  padding-top: 60%;
  width: 100%;
  position: relative; }
  .container-4x3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.responsive-card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: 15px;
  margin-left: 15px; }
  .responsive-card-deck .card {
    flex: 0 0 calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-1 .card {
    flex: 0 0 calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-2 .card {
    flex: 0 0 calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-3 .card {
    flex: 0 0 calc(33.3333333333% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-4 .card {
    flex: 0 0 calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-5 .card {
    flex: 0 0 calc(20% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-6 .card {
    flex: 0 0 calc(16.6666666667% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-7 .card {
    flex: 0 0 calc(14.2857142857% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-8 .card {
    flex: 0 0 calc(12.5% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-9 .card {
    flex: 0 0 calc(11.1111111111% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-10 .card {
    flex: 0 0 calc(10% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-11 .card {
    flex: 0 0 calc(9.0909090909% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck.cards-12 .card {
    flex: 0 0 calc(8.3333333333% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  .responsive-card-deck .card {
    flex: 0 0 calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  @media (min-width: 576px) {
    .responsive-card-deck.cards-sm-1 .card {
      flex: 0 0 calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-2 .card {
      flex: 0 0 calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-3 .card {
      flex: 0 0 calc(33.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-4 .card {
      flex: 0 0 calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-5 .card {
      flex: 0 0 calc(20% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-6 .card {
      flex: 0 0 calc(16.6666666667% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-7 .card {
      flex: 0 0 calc(14.2857142857% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-8 .card {
      flex: 0 0 calc(12.5% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-9 .card {
      flex: 0 0 calc(11.1111111111% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-10 .card {
      flex: 0 0 calc(10% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-11 .card {
      flex: 0 0 calc(9.0909090909% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-sm-12 .card {
      flex: 0 0 calc(8.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; } }
  .responsive-card-deck .card {
    flex: 0 0 calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  @media (min-width: 768px) {
    .responsive-card-deck.cards-md-1 .card {
      flex: 0 0 calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-2 .card {
      flex: 0 0 calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-3 .card {
      flex: 0 0 calc(33.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-4 .card {
      flex: 0 0 calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-5 .card {
      flex: 0 0 calc(20% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-6 .card {
      flex: 0 0 calc(16.6666666667% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-7 .card {
      flex: 0 0 calc(14.2857142857% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-8 .card {
      flex: 0 0 calc(12.5% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-9 .card {
      flex: 0 0 calc(11.1111111111% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-10 .card {
      flex: 0 0 calc(10% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-11 .card {
      flex: 0 0 calc(9.0909090909% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-md-12 .card {
      flex: 0 0 calc(8.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; } }
  .responsive-card-deck .card {
    flex: 0 0 calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  @media (min-width: 992px) {
    .responsive-card-deck.cards-lg-1 .card {
      flex: 0 0 calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-2 .card {
      flex: 0 0 calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-3 .card {
      flex: 0 0 calc(33.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-4 .card {
      flex: 0 0 calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-5 .card {
      flex: 0 0 calc(20% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-6 .card {
      flex: 0 0 calc(16.6666666667% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-7 .card {
      flex: 0 0 calc(14.2857142857% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-8 .card {
      flex: 0 0 calc(12.5% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-9 .card {
      flex: 0 0 calc(11.1111111111% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-10 .card {
      flex: 0 0 calc(10% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-11 .card {
      flex: 0 0 calc(9.0909090909% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-lg-12 .card {
      flex: 0 0 calc(8.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; } }
  .responsive-card-deck .card {
    flex: 0 0 calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px; }
  @media (min-width: 1200px) {
    .responsive-card-deck.cards-xl-1 .card {
      flex: 0 0 calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-2 .card {
      flex: 0 0 calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-3 .card {
      flex: 0 0 calc(33.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-4 .card {
      flex: 0 0 calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-5 .card {
      flex: 0 0 calc(20% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-6 .card {
      flex: 0 0 calc(16.6666666667% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-7 .card {
      flex: 0 0 calc(14.2857142857% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-8 .card {
      flex: 0 0 calc(12.5% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-9 .card {
      flex: 0 0 calc(11.1111111111% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-10 .card {
      flex: 0 0 calc(10% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-11 .card {
      flex: 0 0 calc(9.0909090909% - 30px);
      margin-left: 15px;
      margin-right: 15px; }
    .responsive-card-deck.cards-xl-12 .card {
      flex: 0 0 calc(8.3333333333% - 30px);
      margin-left: 15px;
      margin-right: 15px; } }

.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .bg-image.aspect-1x1 {
    padding-top: 100%; }
  .bg-image.aspect-4x3 {
    padding-top: 75%; }
  .bg-image.aspect-16x9 {
    padding-top: 56.25%; }

.sticky {
  position: sticky;
  top: 0; }

.arrow::after, .arrow::before {
  content: " ";
  position: absolute;
  left: 100%;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none; }
.arrow.arrow-right::after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 30px;
  margin-top: -30px; }
.arrow.arrow-right::before {
  border-color: rgba(206, 212, 218, 0);
  border-left-color: #ced4da;
  border-width: 31px;
  margin-top: -31px; }

body {
  background-color: #ffffff;
  color: #495057;
  background-image: url("/img/grid-sm-bg.png"); }

section {
  padding: 30px 0; }
  @media (min-width: 768px) {
    section {
      padding: 60px 0; } }

body {
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
p,
a {
  transition: all 0.3s ease-in-out; }

@keyframes cardSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.card:nth-child(1) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.1s; }
.card:nth-child(2) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.2s; }
.card:nth-child(3) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.3s; }
.card:nth-child(4) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.4s; }
.card:nth-child(5) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.5s; }
.card:nth-child(6) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.6s; }
.card:nth-child(7) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.7s; }
.card:nth-child(8) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.8s; }
.card:nth-child(9) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.9s; }
.card:nth-child(10) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1s; }
.card:nth-child(11) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.1s; }
.card:nth-child(12) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.2s; }
.card:nth-child(13) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.3s; }
.card:nth-child(14) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.4s; }
.card:nth-child(15) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.5s; }
.card:nth-child(16) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.6s; }
.card:nth-child(17) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.7s; }
.card:nth-child(18) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.8s; }
.card:nth-child(19) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 1.9s; }
.card:nth-child(20) {
  animation-name: cardSlideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 2s; }

.homepage h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 80px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 100px; }
  .homepage h2 span {
    font-style: italic;
    font-weight: 900; }

.preloader {
  display: none;
  width: 100%;
  text-align: center; }
  .preloader img {
    width: 50px; }

/* Override the default invisibility if the preloader doesn't have a form after it. */
.preloader:last-child {
  display: block; }

.no-js img.lazyload {
  display: none; }

.blur-up {
  filter: blur(10px);
  transition: filter 400ms; }

.blur-up.lazyloaded {
  filter: blur(0); }

.fade-in {
  opacity: 0;
  transition: opacity 400ms; }

.fade-in.lazyloaded {
  opacity: 1; }

#responsive-image img {
  max-width: 100%;
  height: auto; }
